@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0px solid silver;


}

.notice-item {
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 16px;
  line-height: 1rem;
  letter-spacing: 0.1px;
  color:#464646;
  border-bottom: 2px solid #ddd;
  padding: 15px;
  width: 95%;
  border-width: 95%;
  padding-left: 10px;
  margin-left: 30px;

 
}


a:active {
	color: black;
  }
  
a:link {
	color: black;
    text-decoration: none;
    }

	
a:default {
	color: black;
	}



.notice_jo {
    margin: 0 auto;
    padding: 100px 5% 200px 5%;
}

.notice-item> :first-child {
    display: inline-block;
    justify-content: space-between;
    
   
}


.notice_jo> :first-child img {
	height: 80%;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.notice_jo {
    padding: 20px 0;
    border-bottom: 1px solid #ddd;
}

.no_img {
	position: absolute;
	margin-left: 1180px;
	margin-top: 15px;

}

.notice-title > p{
	position: relative;
	color: #29B6F6;
	padding-bottom: 10px; 
	display: inline-block;
}


.notice-date > p{
	white-space: nowrap;
    padding-top: 5px;
}









