@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

a {
    /* 글자 색생은 부모로부터 상속 */
    color: inherit; 
    text-decoration: none;
}

head {
    display: none;
}

body {
    display: block;
    position: relative;
}

.blank {
	padding-top: 160px;
}

.noticeboard {
    width: 1200px;
    height: 700px;
    margin: 150px auto;
    border-radius: 1px;
    position: relative; /* 상대적인 값 */
}

.board_header {
    padding: 5px;
    text-align: center;
    
    
}

.board_header h1 {
	margin-top: 50px;
	margin-right:1000px;
    font-size: 35px;
    font-weight: bolder;
    
}

.board_body {
	margin-right: 50px;
    margin-top: -35px;
    text-align: right;
}

.board_body input[type="search"] {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #999;
    border-radius: 5px;
    width: 300px;
    font-size: 12px;
}

.board_body a.searchjo {
    padding: 7px 9px 7px 9px;
    margin-left: 10px;
    border-radius: 5px;
    background-color: gray;
    text-align: center;
    color: #fff;
}

.board_body div {
    margin-top: 10px;
  
}

.board_body div div {
    display: inline-block;
    padding: 15px 10px 15px 10px;
    margin: 0;
    border: none;
    
}

.board_body .title_jo {
    width: 50%;
    text-align: left;
}

.board_body .delete_jo button {
    background-color: #fff;
    border: none;
}

.btn {
    /* position: absolute; 는 절대적인 값으로 상대적인 값이 필요하다. */
    /* 상대적인 값은 전체 영역을 담당하는 class="card"에 position: relative; 을 추가한다. */
    position: relative; 
	right: 0;
	padding: 450px;
    margin: 10px 10px 20px 10px  ;
    text-align: center;
}
.btn a {
    padding: 10px;
    background-color: gray;
    color: #fff;
    border-radius: 5px;
}


.re_header {
	width: 100%;
	display: flex;
	padding: 5px 0;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #000;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #000;
}


.re_no, .re_title, .re_hit, .re_regdate{
	text-align: center;
	font-size: 16px;
	font-weight: bolder;
	letter-spacing: -1px;
	
}

.re_no{
	width: 10%
}

.re_title {
	width: 120%;
	text-align: center;
}

.re_regdate{
	width: 30%;
	text-align: right;

}

.re_hit {
	width: 20%;
	text-align: right;
}

.insert_noticform{
  
	margin: 20px;
    text-align:left;
    margin-top: 150px auto;
}

.insert_no_jo >h1{
	margin-left: 80px;
	font-weight: bolder;
	font-size: 2em;
}

.write_jo{
	text-align: center;
}

.titlejo{
	margin-left: 100px;
	margin-top: 50px;
	margin-bottom: 20px;
	font-weight: bolder;
	font-size : 20px;
}

.titlejo >input{
	margin-left: 10px;
	width: 60%;
	height: 30px;
}

.msg_jo{
	margin-left: 100px;
	margin-bottom: 20px;
	font-weight: bolder;
	font-size : 20px;	
}

.msg_jo >textarea{
	margin-left: 50px;
	margin-top: -30px;
	width: 60%;
	height: 500px;
}

.msg_jo1{
	text-align: left;
	margin-left: 200px;
}


.msg_jo >input{
	margin-top: 50px;
}







